.THIS.pageFix{
    padding-left: 1.5rem!important;
    font-size: 1em!important;
    color: #696969!important;
    display: inline-block!important;
    position: relative!important;
    margin-top:12px!important;
}

.THIS .rotateIcon{
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

}
.THIS .slds-icon-text-default{
    fill: #1e5d88!important;
}
.THIS .buttonFix{
    border-radius:5px; 
    border:1px solid #e5e5e5; 
    padding:7px;
}
.THIS .slds-icon{
    width:1rem!important;
}
.THIS .heightFix{
    margin-top: 3px;
    
}

.THIS .rightFix{
    /*display:block!important;*/
    
    margin-left:-5px!important;
    color: #1e5d88!important;
    font-weight:900!important;
}
.THIS .leftFix{
    /*display:block!important;*/
    margin-left:-5px!important;
    color: #1e5d88!important;
    font-weight:900!important;
    margin-top: 10px;
}