.THIS .slds-input-has-icon .slds-input__icon, .THIS .slds-button.slds-float--right{
  margin-top: -10px;
}
.THIS .slds-icon_container .slds-icon{
  margin-top: -7px;
}
.THIS .slds-page-header .slds-text-heading--small{
  font-size: 1.1rem;
}
.THIS .slds-checkbox--on, .THIS .slds-checkbox--off{
  display: none !important;
}
.THIS .slds-text--center{
  padding-left: 10%;
}