.THIS .isDisplay{
    display: none;
}
.THIS .heightFix{
    
    height:182px!important;
    font-size: 0.85rem!important;
}

.THIS .slds-text-title--caps{
    line-height: 2.25!important;
}

.THIS .slds-text-title_caps{
    color: black!important;
    padding: 0.75rem!important;
    font-size: 1em!important;
    font-family: Open Sans!important;
    margin: 0.5rem!important;
}

.THIS thead th, .THIS tbody td{
    padding:10px!important;
}